@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

[x-cloak] {
    display: none !important;
}

body{
    background: #f4f4f4;
}

.tab-control{
    padding: 0.75rem;
    border-radius: 0.5rem;
    background-color: white;
}