@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

[x-cloak] {
    display: none !important;
}

.return-to-top{
    background-color: rgb(158, 2, 2);
    border-radius: 50px;
    color: white;
    padding: 7px 20px;
    font-weight: 600;
    z-index: 9;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;

    //
    position: fixed;
    right: 1.25rem;
    bottom: 6rem;
}

.create-post-button{
    background-color: rgb(158, 2, 2);
    border-radius: 100px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    color: white;
    z-index: 9;

    //
    position: fixed;
    right: 1.25rem;
    bottom: 2.5rem;

    svg{
        justify-self: flex-start;
    }
}

.navbar{
    background: rgb(255,255,255);
// background: linear-gradient(180deg, rgba(255,255,255,1) 59%, rgba(244,244,244,1) 100%);
}

body{
    background: #f4f4f4;
}

.tab-control{
    padding: 0.75rem;
    border-radius: 0.5rem;
    background-color: white;
}

.search-icon{
    position: absolute;
    left: 1.25rem;
    top: 50%;
    transform: translateY(-50%);
}

.search-input::placeholder{
    color: black;
    // font-weight: 500; 
}

.sort{

    a{
        padding: 10px 20px;
    }
}

.kontakt-info{
    color: #f4f4f4;
    background-color: rgba(0,0,0,1);
}

.post-image{
    aspect-ratio: 4/3;
}

.showImages{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.9);
    display: none;

    .images-exit{
        position: absolute;
        right: 1.25rem;
        top: 1.25rem;
        color: lightgray;

        &:hover{
            color: white;
            cursor: pointer;
            transition: 0.2s all ease-in-out;
        }

    }
    


    .showImagesContainer{
        max-width: 62.5rem;
        width: 100%;
        padding: 0 50px;
        position: relative;
        margin: auto;

        
        .arrow{
            display: block;
            position: absolute;
            top: 50%;
            z-index: 100;
            color: lightgray;
            transform: translateY(-100%);
            

            &:hover{
                color: white;
                transition: all 0.1s ease-in-out;
                cursor: pointer;
            }
        }

        .prev{
            left: 0;
        }

        .next{
            right: 0;
        }
    }

    .showImagesSlider{

        .image-cont{
            width: 100%;

            img{
                width: 100%;
                aspect-ratio: 4/3;
            }
        }
    }
    
}

.showMenu{
    background-color: red;
    max-width: 300px;
    width: 100%;
    z-index: 100;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;

   
}

.tip{
    border: 2px solid #1f2937;
    color: #1f2937;
    transition: all 0.2s ease-in-out;
}

.tip-clicked{
    background-color: #1f2937;
    color: white;
    transform: scale(1.1);
}

@media only screen and (max-width: 1023px) {
    .showImagesContainer{
        padding: 0 1.25rem !important;

        .arrow{
            top: 104% !important;
        }
        
        .prev{
            left: 1.25rem !important;
        }

        .next{
            right: 1.25rem !important;
        }
    }

}